@charset "utf-8";
/*
 * 添加、修改、详情页面
 */
.out-div {
    width: 100%;
    margin-bottom: 20px;
}
.add-title {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #3598db;
    color: #ffffff;
}
.add-title img {
    height: 18px;
    float: left;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 10px;
}
.add-title-item {
    height: 40px;
    float: left;
}
.icon_del {
    height: 18px;
    cursor: pointer;
    float: right;
    margin-right: 10px;
    margin-top: 13px;
}

/*row-com*/
.com-add-row {
    width: 100%;
    border-left: 1px solid #d5e0e6;
    border-right: 1px solid #d5e0e6;
    border-bottom: 1px solid #d5e0e6;
    box-sizing: border-box;
    background: #ffffff;
}
.com-column-title {
    width: 100px;
    border-right: 1px solid #d5e0e6;
    float: left;
    background: #f5fafd;
    text-align: center;
    box-sizing: border-box;
}

.com-column-cont {
    width: calc(100% - 100px);
    padding: 6px;
    float: left;
    box-sizing: border-box;
}
.com-column-input {
    width: 100%;
    height: 100%;
    background: #f5f5f5;
    outline: none;
    border: 1px solid #eee;
    box-sizing: border-box;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 10px;
    font-size: 14px;
    float: left;
}
.com-unit {
    float: left;
    height: 33px;
    line-height: 33px;
    text-align: left;
    padding-left: 10px;
    box-sizing: border-box;
}
.com-column-text {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    line-height: 33px;
    text-align: left;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.com-a {
    margin: 0 10px;
    text-decoration: underline;
}
.com-a:hover {
    text-decoration: underline;
}
.com-radio {
    float: left;
    margin-right: 40px;
    height: 33px;
}
.com-radio-1 {
    float: left;
    height: 45px;
    padding: 6px;
    box-sizing: border-box;
}
.com-radio-1 span {
    float: left;
    margin-right: 5px;
}
.com-radio input[type=radio],.com-radio input[type=checkbox],.com-radio-1 input[type=radio] {
    margin-right: 5px;
    float: left;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.com-textarea {
    width: 100%;
    height: 100%;
    background: #f5f5f5;
    outline: none;
    border: 1px solid #eee;
    box-sizing: border-box;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    font-size: 14px;
    float: left;
    resize: none;
}

/*row-类型1*/
.add-row-1 {
    height: 45px;
    line-height: 45px;
}

.column-title-1 {
    height: 44px;
    line-height: 44px;
}

.column-cont-1 {
    height: 45px;
    line-height: 45px;
}

/*row-类型2*/
.add-row-2 {
    height: 360px;
}
.column-title-2 {
    height: 359px;
    line-height: 359px;
}

/*row-类型3*/
.add-row-3 {
    height: 150px;
}
.column-title-3 {
    height: 149px;
    line-height: 149px;
}
.column-cont-3 {
    height: 100%;
}
.column-text-3 {
    overflow: hidden;
    text-overflow:inherit;
    white-space: normal;
}

/*row-类型4*/
.add-row-4 {
    height: 360px;
}
.column-title-4 {
    height: 359px;
    line-height: 359px;
}
.column-cont-4 {
    height: 100%;
}
.column-text-4 {
    overflow: hidden;
    text-overflow:inherit;
    white-space: normal;
}

/*row-类型5*/
.add-row-5 {
    height: 300px;
}
.column-title-5 {
    height: 299px;
    line-height: 299px;
}
.column-cont-5 {
    height: 100%;
}
.column-text-5 {
    overflow: hidden;
    text-overflow:inherit;
    white-space: normal;
}

/*row-类型6*/
.add-row-6 {
    height: 170px;
}
.column-title-6 {
    height: 169px;
    line-height: 169px;
}
.column-cont-6 {
    height: 100%;
}

/*1-2-1-column*/
.column1-1 {
    width: 25%;
    height: 45px;
    box-sizing: border-box;
    float: left;
    border-right: 1px solid #d5e0e6;
}
.column1-2 {
    width: 50%;
    height: 45px;
    box-sizing: border-box;
    float: left;
    border-right: 1px solid #d5e0e6;
}
/*1-3-column*/
.column2-1 {
    width: 25%;
    height: 45px;
    box-sizing: border-box;
    float: left;
    border-right: 1px solid #d5e0e6;
}
.column2-2 {
    width: 75%;
    height: 45px;
    box-sizing: border-box;
    float: left;
}
/*two-column*/
.two-column {
    width: 50%;
    height: 45px;
    box-sizing: border-box;
    float: left;
    border-right: 1px solid #d5e0e6;
}
/*two-column2*/
.two-column2 {
    width: calc(50% - 55px);
    height: 360px;
    box-sizing: border-box;
    float: left;
}
.line {
    width: 10px;
    height: 100%;
    border-right: 1px solid #d5e0e6;
    border-left: 1px solid #d5e0e6;
    float: left;
    box-sizing: border-box;
}
.column-inner-div {
    width: 100%;
    height: 45px;
    padding: 6px;
    border-bottom: 1px solid #d5e0e6;
    box-sizing: border-box;
}
.column-inner-div:last-child {
    border-bottom: 0;
}
.column-inner-div .inner-title {
    width: 120px;
    height: 33px;
    line-height: 33px;
    float: left;
    text-align: right;
    padding-right: 10px;
    box-sizing: border-box;
    font-size: 13px;
}
.column-inner-div .inner-input-div {
    width: calc(100% - 200px);
    height: 33px;
    float: left;
}
.column-inner-div .inner-input-div span {
    float: left;
    width: 20px;
    height: 33px;
    line-height: 33px;
    text-align: center;
}
.input-1 {
    width: calc(50% - 10px) !important;
}
/*three-column*/
.three-column {
    width: 33.3333%;
    height: 45px;
    box-sizing: border-box;
    float: left;
    border-right: 1px solid #d5e0e6;
}
/*four-column*/
.four-column {
    width: 25%;
    height: 45px;
    box-sizing: border-box;
    float: left;
    border-right: 1px solid #d5e0e6;
}
/*five-column*/
.five-column {
    width: 20%;
    height: 45px;
    box-sizing: border-box;
    float: left;
    border-right: 1px solid #d5e0e6;
}
.two-column:last-child,.three-column:last-child, .four-column:last-child, .column1-1:last-child, .five-column:last-child {
    border-right: 0;
}

/*buttons*/
.buttons {
    text-align: right;
    margin-bottom: 20px;
}

/*宽度*/
.title-width-1 {
    width: 120px!important;
}
.title-width-2 {
    width: 150px!important;
}
.cont-width-1 {
    width: calc(100% - 120px)!important;
}
.cont-width-2 {
    width: calc(100% - 150px)!important;
}
/*边框*/
.border-top {
    border-top: 1px solid #d5e0e6!important;
}
.border-right {
    border-right: 1px solid #d5e0e6!important;
}

/*table*/
.table-title {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #f5fafd;
    font-size: 16px;
    box-sizing: border-box;
    border-top: 1px solid #d5e0e6;
    border-left: 1px solid #d5e0e6;
    border-right: 1px solid #d5e0e6;
    text-align: center;
}
.add-table {
    width: 100%;
    height: 100%;
    background: #ffffff;
}
.tr-title {
    background: #f5fafd;
}
.add-table tr td {
    border: 1px solid #d5e0e6;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 13px;
    color: #333333;
}
.add-table tr.deal td {
    color: #fc1010!important;
    font-size: 14px!important;
}

/*我已阅读以上需求，申请参与竞价*/
.add_read {
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 20px;
}
.add_read input {
    float: left;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

/*竞价监视器*/
.monitor-title {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #f5fafd;
    border: 1px solid #d5e0e6;
    margin-bottom: 20px;
    box-sizing: border-box;
    text-align: center;
    color: #f9021d;
    font-size: 20px;
    font-weight: bold;
    padding: 0 10px;
}
.bidding-title {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #f5fafd;
    border: 1px solid #d5e0e6;
    margin-bottom: 20px;
    box-sizing: border-box;
    color: #3497db ;
    font-size: 20px;
    padding: 0 10px;
}
.bidding-title .left-title {
    float: left;
}
.bidding-title .remaining-time {
    float: right;
    font-size: 18px;
    color: #333333;
}
.count-down {
    width: 100%;
    height: 180px;
    margin-bottom: 20px;
}
.count-down .time-left  {
    width: 780px;
    height: 100%;
    float: left;
    background: #3598db;
    padding: 20px;
    box-sizing: border-box;
}
.count-down .time-left .left-inner {
    width: 100%;
    height: 100%;
}
.count-down .time-left .inner-text {
    width: 100%;
    height: 100%;
    line-height: 122px;
    font-size: 40px;
    text-align: center;
    color: #ffffff;
    background: url("../images/common/line.png") repeat-x;
}
.count-down .time-left .inner-text span {
    font-size: 60px;
    font-weight: bold;
    position: relative;
    display: inline-block;
    top: 10px;
    margin-left: 10px;
}
.count-down .time-right  {
    width: calc(100% - 800px);
    height: 100%;
    float: right;
    background: #3598db;
    padding: 20px;
    box-sizing: border-box;
}
.count-down .right-inner {
    width: 100%;
    height: 100%;
    border: 2px solid #ffffff;
    border-radius: 5px;
    text-align: center;
    position: relative;
    color: #ffffff;
}
.time-div {
    width: 272px;
    height: 100px;
    margin-top: 22px;
    margin-left: 46px;
}
.count-down .right-inner .time-bg {
    float: left;
    width: 80px;
    height: 100px;
}
.count-down .right-inner span {
    display: inline-block;
    float: left;
    color: #ffffff;
    font-size: 24px;
    width: 16px;
    text-align: center;
    font-weight: bold;
    margin-top: 22px;
}
.count-down .right-inner .time-text {
    width: 80px;
    height: 80px;
    background: url("../images/common/time_bg.png") no-repeat;
    line-height: 80px;
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
/*供应商竞价器*/
.offer {
    background: #3598db;
}
.offer-inner {
    text-align: center;
}
.offer-div {
    display: inline-block;
    height: 180px;
    margin: 0 20px;
}
.offer-div p {
    float: left;
    font-size: 40px;
}
.offer-div .text {
    line-height: 180px;
    color: #ffffff;
}
.offer-div .num {
    padding: 0 10px;
    border: 1px solid #333333;
    background: #ffffff;
    color: #666666;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 10px;
    min-width: 60px;
    text-align: center;
}
.offer button {
    width: 140px;
    height: 60px;
    font-size: 26px;
    float: left;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
/*模态层*/
.model {
    width: 100%;
    position: fixed;
    background: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
}
.model-inner {
    width: 800px!important;
    height: 500px;
    background: #ffffff;
    position: absolute;
    top: calc(50% - 250px);
    left: calc(50% - 400px);
    box-sizing: border-box;
    border-radius: 4px;
}
.model-inner .close {
    width: 100%;
    border-bottom: 1px solid #dfe2e3;
    height: 30px;
}
.model-inner .close img {
    float: right;
    height: 18px;
    margin-top: 6px;
    margin-right: 10px;
    cursor: pointer;
}
.model-inner .content {
    padding: 10px;
    width: 100%;
    height: calc(100% - 41px);
    margin-bottom: 0;
    box-sizing: border-box;
}
.model-inner .content form {
    padding: 10px 0 0;
}

/*沟通管理*/
.contact .column-title-5 {
    padding: 0 15px!important;
    line-height: normal!important;
}
.contact .column-title-5 span {
    position: relative;
    top: 40%;
    transform: translateY(-50%);
}
.contact .column-text-5 button {
    margin-left: 15px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.contact-table {
    height: 330px;
    overflow-y: auto;
}

/*证件*/
.card {
    width: 16.666666667%;
    height: 100%;
    box-sizing: border-box;
    float: left;
    border-right: 1px solid #d5e0e6;
    text-align: center;
    padding: 8px;
}
.card:last-child {
    border-right: 0;
}
.card .card-title {
    width: 100%;
    height: 26px;
    line-height: 25px;
    text-align: center;
}
.card .img {
    width: 100%;
    height: 124px;
    cursor: pointer;
}
.card .img-none-div {
    width: 100%;
    height: 124px;
    box-sizing: border-box;
    border: 2px solid #e6e6e6;
    border-radius: 4px;
    cursor: pointer;
}
.card .img-none-div .img-none {
    height: 62px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}