@charset "utf-8";

/* 门户首页2级 */


/* 面包屑 */

.crumbs.active {
    border-bottom: 1px solid #ccc;
    width: 1200px;
    margin: 0 auto;
}


/* content */

.door-content {
    width: 1200px;
    margin: 20px auto;
}

.door-content-title {
    display: flex;
    align-items: center;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    border-bottom: 1px solid #5097d5;
    background: #fff;
    font-size: 15px;
}

.title-left {
    width: 4px;
    height: 18px;
    background: #5097d5;
    margin-right: 5px;
    border-radius: 2px;
}


/* 信息部分 */

.content-message {
    position: relative;
    padding: 0 20px 10px 20px;
    border-bottom: 1px solid #f0f0f0;
    background: #fff;
}

.content-message-ul {
    display: flex;
    align-items: center;
    height: 40px;
    justify-content: space-between;
}

.content-message-ul li.time,
.content-message-ul li.number,
.content-message-ul li.address {
    color: #666666;
}

.content-message-ul li.time {
    width: 80px;
}

.content-message-ul li.active {
    width: 500px;
    margin-right: 80px;
}

.content-message-ul li.active .aaa {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.details {
    display: none;
    position: absolute;
    left: 180px;
    bottom: 80px;
    width: 400px;
    line-height: 30px;
    z-index: 100;
    border-radius: 10px;
}

.details.active {
    display: block;
}

.details-one {
    width: 100%;
    background: #3598db;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
}

.details-two {
    width: 0;
    height: 0;
    border-width: 10px 10px 0;
    border-style: solid;
    border-color: #3598db transparent transparent;
    margin: 0 auto;
    position: relative;
}

.content-message-ul li.number {
    width: 80px;
}

.content-message-ul li.address {
    width: 260px;
    text-align: right;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.content-message-time.active {
    border: 0;
    padding: 0;
}

.content-message-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
}

.content-message-time {
    height: 25px;
    line-height: 25px;
    padding: 0 5px;
    border: 1px solid #f87603;
    border-radius: 5px;
}

.content-message-time span {
    color: #f87603;
}

.content-message-time span:nth-child(1) {
    color: #000;
}

.content-message button {
    background: #f87603;
    color: #fff;
    width: 80px;
    height: 27px;
    border-radius: 5px;
}

.door-content-title.active {
    margin-top: 20px;
}


/* 门户首页三级页面 */

.project {
    padding: 20px;
    background: #fff;
}

.project-one,
.project-two {
    height: 40px;
    line-height: 40px
}

.project-two {
    display: flex;
    align-items: center;
}

.token {
    margin: 0 20px;
}

.project-table {
    margin: 10px 0;
    border: 1px solid #eaeaea;
    font-size: 14px;
}

.project-table th,
td {
    height: 40px;
}

.project-table td {
    text-align: center;
}

.project-table th {
    background: #f5f5f5;
}


/* 投标范围要求 */

.require {
    padding: 20px 30px;
    background: #fff;
}

.require p {
    line-height: 30px;
}


/* door-content-explain */

.door-content-explain {
    padding: 20px 40px;
    background: #eaf9fa;
    display: flex;
}

.door-content-explain img {
    width: 200px;
    height: 120px;
    border-radius: 5px;
}

.explain-rigth {
    width: 890px;
    padding-left: 30px;
    height: 120px;
    line-height: 40px;
}

.explain-rigth-sp {
    font-size: 20px;
}

.explain-rigth-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.explain-rigth-box div {
    width: 25%;
}


/* 报价 */

.offer {
    width: 1200px;
    background: #fff;
    padding: 30px 0;
}

.offer ul {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 0 20px 0;
    margin: 0 auto;
}

.offer li {
    width: 20%;
}

.offer div {
    text-align: center;
}

.offer div:nth-child(2) {
    margin-top: 5px;
}

.offer button {
    width: 100px;
    height: 40px;
    background: #ccc;
    border-radius: 5px;
    margin: 10px auto;
    display: block;
    background: #db7335;
    color: #fff;
}

.offer-time {
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 40px;
}

.offer-time span {
    color: #db7335;
}

.offer-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 10px;
}

.offer-img img {
    width: 85%;
}


/* 首页2级 */

.bg-color {
    background: #edf8fa;
}

.project-table.active {
    margin-top: 0;
    background: white;
    border: 1px solid #eaeaea;
    margin-top: 10px;
}

.project-table-th {
    width: 150px;
    background: #fff;
}

.table-box {
    margin: 0 auto;
    padding: 10px 0 30px 0;
    background: #fff;
}