@charset "utf-8";

/*
 * 集团平台首页
 */

.content-one {
    background: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
}

.content-one-top,
.content-two-top {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 20px;
    border-bottom: 1px solid #dfe2e3;
}

.content-one-top span:first-child,
.content-two-top span:first-child {
    font-weight: 600;
    padding-right: 10px;
    color: #3598db;
}

.content-one-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.content-one-bottom li {
    width: 148px;
    height: 200px;
    border: 1px solid #dfe2e3;
    border-radius: 5px;
}

.content-one-bottom li div:nth-child(1) {
    width: 50%;
    height: 74px;
    background: #3598db;
    border-radius: 50%;
    margin: 25px auto 15px auto;
}

.content-one-bottom li div:nth-child(2) {
    height: 30px;
    text-align: center;
    line-height: 30px;
}

.content-one-bottom li div:nth-child(3) {
    text-align: center;
}

.content-one-bottom li div:nth-child(3) span:nth-child(1) {
    font-size: 34px;
}

.content-one-bottom li div:nth-child(3) span:nth-child(2) {
    color: #ccc;
}

.content-two {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content-two li {
    width: 590px;
    height: 160px;
    border-radius: 5px;
    margin-bottom: 20px;
    background: #fff;
}

.content-two-bottom {
    display: flex;
    justify-content: start;
}

.content-two-bottom .content-top-box {
    width: 294px;
    height: 120px;
    border-right: 1px solid #dfe2e3;
    display: flex;
    align-items: center;
}

.content-two-bottom .content-top-box .content-two-bottom-img {
    width: 74px;
    height: 74px;
    background: #3598db;
    border-radius: 50%;
    margin: 0 10px 0 20px;
}

.content-two-bottom-box {
    width: 181px;
}

.content-two-bottom-box div:first-child {
    font-style: italic;
    font-size: 50px;
    font-weight: 600;
    height: 60px;
    line-height: 50px;
    color: orange;
}

.content-two-bottom-box div:last-child {
    color: #ccc;
}

.content-two-bottom .content-bottom-box {
    width: 295px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.content-bottom-box-one div:last-child {
    font-style: italic;
    font-size: 35px;
    font-weight: 600;
    color: orange;
}

.content-bottom-box-one div:first-child {
    color: #ccc;
}