@charset "utf-8";

/* login header */
html,body {
    width: 100%;
    height: 100%;
}
body {
    background: url(../images/login/login.png) no-repeat;
}

#login {
    height: 100%;
}

.login-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: 160px;
    margin: 0 auto;
}

.login-header p {
    font-size: 30px;
    color: #fff;
    padding-left: 30px;
}

.login-header img {}


/* login content */

.login-content {
    width: 400px;
    height: 500px;
    margin: 30px auto 0 auto;
    text-align: center;
}

.login-content .title {
    width: 400px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    font-size: 30px;
    margin-bottom: 20px;
    border-bottom: 2px solid #c3e5f5;
}

.login-content .text-p {
    width: 400px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    color: red;
}

.login-content .input-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 380px;
    height: 60px;
    margin-top: 30px;
    border: 1px solid #c3e5f5;
    border-radius: 30px;
    padding-left: 20px;
}

.login-content .input-box.active {
    margin-top: 20px;
}

.login-content .input-box input {
    margin-left: 20px;
    width: 280px;
    height: 40px;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
}

.login-content .input-box img {
    width: 30px;
    height: 30px;
}

.login-content button {
    width: 400px;
    height: 60px;
    font-size: 25px;
    border-radius: 30px;
    margin-top: 30px;
    background: #0098ff;
    color: #fff;
}